@import '../../../styles/settings.scss';

.footer {
  font-family: $font-family;
  font-size: $font-size;
  background: linear-gradient(#ffffff, $coffeepot-light-color);
  max-width: 100%;
  height: 150px;
}

.icons li {
  font-size: 0;
  display: inline;
  background: #eed6d3;
  border-radius: 50%;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.icons li:hover {
  transform: scale(1.2, 1.2);
}

.icon {
  width: 40px;
  height: 40px;
  color: #ab0f45;
}
