@import "../../../styles/settings.scss";

.footer {
  font-size: $font-size/1.3;
  background: linear-gradient(#ffffff, $coffeepot-light-color);

  .icons li {
    font-size: 0;
    display: inline;
    background: #eed6d3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }
  .icons li:hover {
    transform: scale(1.2, 1.2);
  }

  .icon {
    width: 40px;
    height: 40px;
    color: #ab0f45;
  }

  p {
    font-size: $font-size/1.8;
    color: $coffeepot-dark-color;
  }

  p:hover {
    color: #ab0f45;
  }
}
