@import '../../../styles/settings.scss';

.header {
  font-family: $font-family;
  font-size: $font-size;
  color: $coffeepot-dark-color;
  border-top: 1px solid $dustyrose-color;
  border-bottom: 1px solid $dustyrose-color;

  img:hover {
    transition: all 1s;
    transform: scale(1.1, 1.1);
  }

  .categoryLink {
    text-decoration: none;
    text-align: center;
    color: $coffeepot-dark-color;
  }
  .link {
    text-decoration: none;
    text-align: end;
    color: $coffeepot-light-color;
    font-size: $font-size/1.5;
  }
}
