@import "../../../styles/global.scss";
@import "../../../styles/settings.scss";

.navbar {
  margin-top: 20px;
  font-size: $font-size/1.2;
  background-color: white;

  img {
    max-height: 80px;
  }
}
