@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.text {
  text-align: center;
  line-height: 35px;
  font-family: $font-article;
}

.title {
  text-align: center;
  line-height: 35px;
  font-family: $font-article;
  font-size: $font-size;
}

.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.article {
  margin-bottom: 196px;
}
