@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
  height: 468px;
  font-family: $font-family;
  color: $coffeepot-dark-color;

  .photo {
    border-right: 1px solid $dustyrose-color;
  }
  .text {
    font-size: $font-size;
  }
  .price {
    font-size: $font-size/1.6;
  }
  .link {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .count {
    color: $coffeepot-dark-color;
  }

  .countSpan {
    margin-right: 5px;
    font-weight: bold;
  }
}
