@import "../../../styles/global.scss";

.summary {
  background: $dustyrose-color;
  opacity: 0.7;
  width: 325px;
  font-size: $font-size/1.6;

  .line {
    border-bottom: 1px solid $rosewater-color;
    width: 300px;
  }
}
