@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.header {
  font-family: $font-family;
  font-size: $font-size;
  color: $coffeepot-dark-color;

  .articles {
    .text {
      text-align: center;
      line-height: 35px;
      font-family: $font-article;
      font-size: $font-size/1.6;
    }
    .link {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
  }
}
