@import '../../../styles/settings.scss';

.carousel {
  margin: 15px 0 60px 0;
  height: 350px;

  img {
    max-height: 100%;
    opacity: 0.5;
  }

  .caption {
    font-family: $font-family;
    opacity: 0.6;
    color: $coffeepot-dark-color;
  }
}
