@import "./settings.scss";

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Noto+Sans&family=Noto+Serif+Telugu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Noto+Sans&family=Noto+Serif+Telugu&family=Playfair+Display&display=swap");

$font-family: "Playfair Display", serif;
$font-article: "Noto Serif Telugu", serif;
$font-size: 30px;

$rosewater-color: #e8b4b8;
$dustyrose-color: #eed6d3;
$coffeepot-light-color: #a49393;
$coffeepot-dark-color: #67595e;

.button {
  background-color: $rosewater-color !important;
  border: none !important;
}

.button:hover {
  background-color: $coffeepot-dark-color !important;
}

.buttonRemove {
  background-color: $coffeepot-dark-color;
  border: none !important;
}
.buttonRemove:hover {
  background-color: $coffeepot-dark-color !important;
}
