@import "./settings.scss";

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
  $font-family: "Poppins", sans-serif !important;
}

.button {
  background-color: $rosewater-color !important;
  border: none !important;
}

.button:hover {
  background-color: $coffeepot-dark-color !important;
}

.buttonRemove {
  background-color: $coffeepot-dark-color;
  border: none !important;
}
.buttonRemove:hover {
  background-color: $coffeepot-dark-color !important;
}
