@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

$font-family: "Poppins", sans-serif !important;
$font-article: "Poppins", sans-serif !important;

$rosewater-color: #e8b4b8;
$dustyrose-color: #eed6d3;
$coffeepot-light-color: #a49393;
$coffeepot-dark-color: #67595e;

$font-size: 30px;
